/******** General headers **************************************/

.landing-header, .entrepreneur-header, .company-header {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.entrepreneur-header, .company-header {
    padding: 3rem 1rem;
    position: relative;
}

/******** Landing Header **************************************/

.landing-header {
    background: linear-gradient(135deg, #cac8ff,  #52528b); 
    overflow: hidden;
}

/******** Entrepreneur Header **************************************/

.entrepreneur-header {
    background: linear-gradient(135deg, rgba(147,143,244,0.9), rgba(83,90,124,0.1), rgba(14,18,36,1));
}

.img-wrapper {
    position: relative;
}

.img-entrepreneur, .img-company {
    border: 5px solid var(--bg-light);
    border-radius: 50%;
    height: 250px;
    object-fit: cover;
    width: 250px;
    z-index: 2;
}

.circle-bg {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 300px;
    position: absolute;
    right: -20px;
    top: -25px;
    width: 300px; 
    z-index: 1;
}

/******** Company Header **************************************/

.company-header {
    background: linear-gradient(240deg, rgba(147,143,244,.1), rgba(83,90,124,.1), rgba(14,18,36,.9)) 
}

.img-company {
    border: 5px solid var(--bg-light) !important;
}

.circle-bg-left {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    bottom: -65px;
    height: 150px;
    left: 0;
    position: absolute;
    width: 150px; 
    z-index: 1;
}

/******** Medidas Header **************************************/

@media (min-width: 768px) {
    .entrepreneur-header .container {
        overflow: visible !important;
    }
    .circle-bg-right {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        height: 300px;
        position: absolute;
        left: -20px;
        top: -25px;
        width: 300px; 
        z-index: 1;
    }
    .circle-bg-left {
        left: auto;
        right: 0;
    }
}

@media (min-width: 1024px) {
    .img-entrepreneur, .img-company {
        height: 300px;
        width: 300px;
    }
    .circle-bg {
        top: 0px;
    }
    .circle-bg-left {
        bottom: -35px;
    }
}

@media (min-width: 1200px) {
    .img-entrepreneur, .img-company {
        height: 350px;
        width: 350px;
    }
    .circle-bg-left {
        bottom: -15px;
    }
}
