.navbar-bg, .footer-bg {
    background-color: var(--bg-dark);
}

.table-responsive {
    border: 1px solid #dee2e6;
    border-radius: 6px;
}

.table th, .table td {
    padding: 16px; 
}

.table th, .table td {
    white-space: nowrap; 
}

.icon-audio-recorder {
    color: var(--color-text-light);
}

.calendly-inline-widget {
    height: 200vh !important;
    min-width: 100% !important;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.icon-benefit {
    color: var(--color-accent-1);
}

.form-select, .form-control {
    color: var(--color-text-dark) !important;
}

.form-select:focus, .form-control:focus {
    border-color: #dee2e6 !important;
    box-shadow: none !important;
}

.pagination .page-link  {
    background-color: transparent !important;
    border: none;
    color: var(--color-text-dark);
}

.pagination .disabled>.page-link {
    background-color: rgba(59, 63, 66, 0.1) !important;
}

.pagination .active>.page-link {
    color: var(--color-accent-1);
    font-weight: bold;
}

.pagination .page-link:focus {
    box-shadow: none !important;
}

.bg-special-gray {
    background-color: #FBFBFD;
}

.text-special-gray {
    color: #D4D3F6;
}

.text-lightgray {
    color: var(--light-gray);
}

.text-black {
    color: var(--dark);
}

.text-gray {
    color: var(--dark-gray);
}

.small-subtitle {
    font-weight: 400;
}

.subtitle-card-services {
    color: var(--light-gray);
    font-size: 13px;
}

.woman-img {
    width: 90%;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.opacity-60 {
    opacity: .6;
}

.icon-services {
    color: var(--dark-purple);
}

.why-us {
    background-image: url("../public/images/bg-why-us.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.badge {
    background-color: var(--dark-purple);
}

.video {
    aspect-ratio: 9/9;
    object-fit: cover;
    object-position: top;
}

@media (min-width: 768px) {
    .shadow-md-form {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .bg-md-light-form {
        background-color: #f8f9fa;
    }
    .subtitle {
        font-size: 45px;
    }   
    .woman-img {
        width: 50%;
    }  
}

@media (min-width: 919px) {
    .calendly-inline-widget {
        height: 170vh !important;
    }
}

@media (min-width: 1024px) {
    .diagnostic form {
        width: 80%;
    }
    .calendly-inline-widget {
        height: 150vh !important;
    }
    .woman-img {
        width: 155%;
    } 
}

@media (min-width: 1200px) {
    .diagnostic form {
        width: 70%;
    }
    .calendly-inline-widget {
        height: 120vh !important;
    }
    .woman-img {
        width: 125%;
    } 
    .block-partner {
        left: -70px;
    }
}
