/******** Menu Admin **************************************/

.navbar-bg {
    background-color: var(--bg-dark);
}

/******** Tablas Admin **************************************/

.table-responsive {
    border: 1px solid #dee2e6;
    border-radius: 6px;
}

.table th, .table td {
    padding: 16px; 
}

.table th, .table td {
    white-space: nowrap; 
}

/******** Grabadora **************************************/

.icon-audio-recorder {
    color: var(--color-text-light);
}


/******** Calendario **************************************/

.calendly-inline-widget {
    height: 200vh !important;
    min-width: 100% !important;
}

/******** Paginación Tablas Admin **************************************/

.pagination .page-link  {
    background-color: transparent !important;
    border: none;
    color: var(--color-text-dark);
}

.pagination .disabled>.page-link {
    background-color: rgba(59, 63, 66, 0.1) !important;
}

.pagination .active>.page-link {
    color: var(--color-accent-1);
    font-weight: bold;
}

.pagination .page-link:focus {
    box-shadow: none !important;
}

/******** Footer **************************************/

.bg-footer {
    background: linear-gradient(221.95deg, #2575FC -15.34%, #052855 9.38%, #6A11CB 100.06%);
}

.bg-footer a {
    text-decoration: none;
}

.bg-footer a:hover {
    color: var(--secondary) !important;
}

.bg-footer button {
    color: var(--light);
}

.bg-footer button:hover {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

/******** FQA **************************************/

.accordion-button:focus {
    color: var(--dark-purple) !important;
    border: 1px solid var(--dark-purple) !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--light) !important;
    box-shadow: none !important;
}

/******** Otros **************************************/

.text-multicolor-gradient {
    background: linear-gradient(226.96deg, #2575FC -14.85%, #052855 31.53%, #6A11CB 76.16%);
    background-clip: text;
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.form-select, .form-control {
    color: var(--color-text-dark) !important;
}

.form-select:focus, .form-control:focus {
    border-color: #dee2e6 !important;
    box-shadow: none !important;
}

.woman-img {
    width: 90%;
}

.why-us {
    background-image: url("../public/images/bg-why-us.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

/******** Diagnostic Section NOTA: QUITAR ESTO DE AQUI **************************************/

.diagnostic {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Añadir esto para centrar los elementos horizontalmente */
    padding: 62px 0px 80px;
    position: relative;
}

.diagnostic-back {
    background-color: transparent;
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-family: 'Manrope', 'sans-serif';
    font-weight: 700;
    position: absolute;
    left: 7vw;
    top: 32px;
  }

  .diagnostic-cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .diagnostic-cards-section-h2 {
    font-family: 'Manrope', 'sans-serif';
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 1.5rem;
    color: #424242;
    font-weight: bold;
}

.diagnostic-form-label {
    font-family: 'Manrope', 'sans-serif';
    color: #424242;
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0%;
    margin: 1.2rem 0;
}

.diagnostic-cards-section-subtitle{
    font-family: 'Manrope', 'sans-serif';
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 30%;
    color: #6c757d;
    margin-top: 0.5rem;
}

.diagnostic-cards-section-choice{
    font-family: 'Manrope', 'sans-serif';
    color: #424242;
    font-family: Manrope;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1.2rem;

}

/******** Diagnostic Cards NOTA: QUITAR ESTO DE AQUI **************************************/

.diagnostic-card {
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 300px;
    height: 350px;
    transition: transform 0.3s ease-in-out;
}

.diagnostic-card.communication {
    background: #3F8AED;
}

.diagnostic-card.technology {
    background: #2A897D;
}

.diagnostic-card.mixed {
    background: #8326E9;
}

.diagnostic-card.hovered {
    background: #172554;
    
}

.diagnostic-card-title {
    color: white;
    margin-bottom: 0;
    font-family: 'Manrope', 'sans-serif';
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.diagnostic-card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(118, 120, 124, 0.5);
    padding: 0.5rem 1rem;
    backdrop-filter: blur(2px);    
}

.diagnostic-card-footer p {
    font-family: 'Manrope', 'sans-serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 20%;
    color: white; /* Equivalente a text-white */
    margin-bottom: 0;
}

.diagnostic-entrepreneur-link {
    width: 172;
    height: 45;
    gap: 10px;
    border-radius: 16px;
    border-width: 1px;
    padding: 10px;
    border: 1px solid #000000;
    background: #C415D7;
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: #FFFFFF;
}

.diagnostic-executive-link {
    width: 172;
    height: 45;
    gap: 10px;
    border-radius: 16px;
    border-width: 1px;
    padding: 10px;
    background: linear-gradient(90.52deg, #6A11CB -31.81%, #2575FC 182.44%);
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: #FFFFFF;
}

.diagnostic-check-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2rem;
    border-width: 2px;
    border-radius: 0.5rem;
}

.diagnostic-check-button.light {
    border: 2px solid #ada9a9de;
}

.diagnostic-check-button span{
    color: #8f8f8fde;
    font-family: 'Manrope', 'sans-serif';
    font-weight: 700;
}

@media (min-width: 768px) {
    .shadow-md-form {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .bg-md-light-form {
        background-color: #f8f9fa;
    } 
    .woman-img {
        width: 50%;
    }  
}

@media (min-width: 919px) {
    .calendly-inline-widget {
        height: 170vh !important;
    }
}

@media (min-width: 1024px) {
    .diagnostic form {
        width: 80%;
    }
    .calendly-inline-widget {
        height: 150vh !important;
    }
    .woman-img {
        width: 155%;
    } 
}

@media (min-width: 1200px) {
    .diagnostic form {
        width: 70%;
    }
    .calendly-inline-widget {
        height: 120vh !important;
    }
    .woman-img {
        width: 125%;
    } 
    .block-partner {
        left: -70px;
    }
}
