:root {
  --navbar-footer-color: #000419;
  --bg-sections-color: #f8f4f9;
  --title-font: #000419;
  --text-font: #0e1224;
}

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
    font-family: "Montserrat", serif;
    font-style: normal;
    font-style: var(--text-font);
    background-color: var(--bg-sections-color);
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-bottom: 0;
    margin-top: 0;
    color: var(--title-font);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    border: none;
}
